/* The object fit property was used to preserve the aspect ratio of the images 
and the application is on any image within a div with the homepage class.
https://stackoverflow.com/questions/17290701/maintain-image-aspect-ratio-in-carousel - Naoise.*/

.homepage-img>img {
        height: 500px;
        width: 500px;
        object-fit: contain;
}

/*Copied from stack overflow to thicken the arrows on the buttons 
https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel - Naoise.*/

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* looks messy but */

header {
display: flex;
align-items: center;
gap: 20px;
}

.container {
  max-width: 1200px;   
  margin: 0 auto;
  margin-top: 20px;     
  padding: 0 20px;  
}

.logo {
  
  width: 250px;
  height: auto;
  object-fit: contain;
}

.search-box {
  display: flex;
  gap: 8px;
}

.search-box input {
padding: 8px 150px;
width: 200px;
border: 1px solid #ccc;
border-radius: 6px;
}

.search-box button {
  padding: 20px 22px;
  border: none;
  border-radius: 6px;
  background: #333;
  color: white;
  cursor: pointer;
}

.search-btn {
  width: 20px;
  height: 22px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.menu-btn span {
  height: 3px;
  width: 24px;
  background: black;
  display: block;
}

.menu {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 50px;
  left: 0;
  background: white;
  min-width: 150px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: none;
  flex-direction: column;
}

.dropdown.show {
  display: flex;
}

.dropdown a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown a:hover {
  background: #f0f0f0;
}

.checkout-btn {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.checkout-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  background-color: #333;
}

